<!-- <div>
  <form id="form-overall">
    <div style="width: 9rem; height: auto; background-color: none">
      <span style="display: block; margin-top: 6px">Width:  <input type="text" name="width" placeholder="Width" style="width: 5rem; float: right" ng-model="$ctrl.w"></span>
      <span style="display: block; margin-top: 6px">Height: <input type="text" name="height" placeholder="Height" style="width: 5rem; float: right"ng-model="$ctrl.h"></span>
    </div>
    <button ng-click="$ctrl.plotCase($ctrl.w, $ctrl.h)">submit</button>
  </form>
</div> -->

<div class="nav">

  <div id="input-coords" style="display: inline">
    <ul class="nav-left">
      <li><a href="">Lattitude</a>
        <input maxlength="12" size="12"></input>
      </li>
      <li><a href="">Longitude</a>
        <input maxlength="12" size="12"></input>
      </li>
    </ul>
  </div>

  <div id="input-years" style="display: inline">
    <ul>
      <li><a href="">Start Year</a>
        <input maxlength="4" size="4"></input>
      </li>
      <li><a href="">End Year</a>
        <input maxlength="4" size="4"></input>
      </li>
    </ul>
  </div>

  <ul class="nav-right">
    <li><a ng-click="$ctrl.clickGenGraph()" href="">Generate Graph</a></li>
  </ul>

</div>
